---
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import RecentPostsContainer from '../components/blog/RecentPostsContainer.astro'

const allPosts = await getCollection('blog')
const sortedPosts = allPosts.sort((a, b) => +b.data.id - +a.data.id)
const newestPost = sortedPosts.at(0)
const recentPosts = sortedPosts.slice(1, allPosts.length)

function createEllipsisText(text: string, maxLength: number) {
  const subText = text.substring(0, maxLength)
  const lastChar = subText[maxLength - 1]
  return lastChar !== ' ' ? `${subText}...` : `${subText.substring(0, maxLength - 1)}...`
}

const truncatedDescriptionText = createEllipsisText(newestPost!.data.description, 100)
---

<Layout
  title="Wave Land Web | Blog"
  description="Explore the captivating insights and expertise within Wave Land Web's esteemed blog, where we delve into the realms of web development, design, and the broader creative landscape, offering thought-provoking articles that immerse you in a world of knowledge and inspiration"
>
  <header>
    <div class="header-info">
      <h1>Blog</h1>
      <p>Wave Land Musings</p>
      <p>
        Stay Informed on all things web development, Wave Land Web's perspective on the latest
        trends, and tips and tricks for building and maintaining a successful online presence.
      </p>
    </div>
  </header>

  <main>
    <section id="blog-container" class="blog-container aol-fade">
      <article class="newest-post-container">
        <a href={`/blog/${newestPost?.slug}`}>
          <Picture
            src={newestPost!.data.image}
            formats={['avif', 'webp']}
            alt={newestPost!.data.imageAlt}
          />
        </a>
        <div class="newest-post-info">
          <p>{newestPost?.data.published}</p>
          <h2>
            <a href={`/blog/${newestPost?.slug}`}>{newestPost?.data.title}</a>
          </h2>
          <p>{truncatedDescriptionText}</p>
        </div>
      </article>
      <RecentPostsContainer posts={recentPosts} />
    </section>
  </main>
</Layout>

<style>
  .header-info h1 {
    font-family: var(--font-body);
    font-size: clamp(var(--size-sm), 4vw, var(--size-base));
    color: var(--color-primary-200);
  }

  .header-info p {
    font-size: clamp(var(--size-sm), 4vw, var(--size-base));

    &:nth-of-type(1) {
      font-family: var(--font-heading);
      font-size: clamp(var(--size-lg), 10vw, var(--size-xxl));
      line-height: normal;
      text-wrap: balance;
    }
  }

  .blog-container {
    max-width: var(--max-width-medium);

    & a {
      transition: all var(--transition-normal);

      &:hover {
        color: var(--color-primary-200);
      }
    }

    a:has(img) {
      display: block;
      max-height: 350px;
      border-radius: var(--border-radius-image);
      overflow: hidden;
    }

    & img {
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-image);
      transition: all var(--transition-normal);

      &:hover {
        transform: scale(1.01);
      }
    }
  }

  .newest-post-container {
    display: grid;
    gap: 2rem;
    width: 100%;
    margin: 0 auto 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px dashed var(--color-grey-300);

    @media (min-width: 1024px) {
      & {
        grid-template-columns: 1fr 350px;
        gap: 3rem;
      }
    }
  }

  .newest-post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;

    @media (min-width: 1024px) {
      & {
        text-align: left;
      }
    }

    & h2 {
      font-size: var(--size-sm);
    }

    @media (min-width: 768px) {
      & h2 {
        font-size: var(--size-base);
      }
    }

    & p {
      color: var(--color-grey-300);
      font-size: var(--size-xs);
    }
  }
</style>
