---
import BlogCard from './BlogCard.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<div class="recent-posts-container">
  {
    posts.map((post) => (
      <BlogCard
        title={post.data.title}
        published={post.data.published}
        slug={`/blog/${post.slug}`}
        image={post.data.image}
        imageAlt={post.data.imageAlt}
      />
    ))
  }
</div>

<style>
  .recent-posts-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    align-items: flex-start;
    gap: clamp(2rem, 5vw, 3rem);
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
</style>
